.dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: #202020;
}

.dashboard-content {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 36px);
}

.dashboard-page {
  flex: 1;
  min-width: 0;
  background-color: #202020;
}
